{% macro person_name(person_id) -%}
{{ meta.candidates[person_id] }}
{%- endmacro %}
{% macro person_names_list(person_ids) -%}
{%- for person_id in person_ids %}{{ meta.candidates[person_id] }}{%- if not loop.last %}, {% endif -%}{%- endfor %}
{%- endmacro %}
Valg-ID: {{ meta.election_id }}
Valg-tittel: {{ meta.election_name }}
Valg-type: {{ meta.election_type }}
Valgperiode: {{ meta.election_start }} (UTC) - {{ meta.election_end }} (UTC)
Opptellingstidspunkt: {{ meta.counted_at }}
Opptelling startet av: {{ meta.counted_by|default('Ukjent', true) }}
Kandidater: {{ meta.candidates.values() |join(', ')}}

Antall stemmer: {{ meta.ballots_count }}
Antall blanke stemmer: {{ meta.empty_ballots_count }}


Manntall
========

{% for pollbook in meta.pollbooks -%}
Navn: {{ pollbook.name }}
Antall stemmer: {{ pollbook.ballots_count }}
Antall blanke stemmer: {{ pollbook.empty_ballots_count }}
Manntallsgruppens vekting: {{ pollbook.weight_per_vote }}
Vekt per stemme: {{ pollbook.weight_per_pollbook }}

{% endfor -%}


{% for round in rounds -%}
{% for event in round -%}
{% if event.event_type == 'CANDIDATE_ELECTED' -%}
{{ person_name(event.event_data['candidate']) }} ble valgt.

{% elif event.event_type == 'DRAW_SELECT' -%}
{{ person_name(event.event_data['candidate']) }} ble trukket ut.

{% elif event.event_type == 'NEW_COUNT' -%}
Status
------
Stemmetall totalt: {{ event.event_data['total_score'] }}
Stemmetall 1/2: {{ event.event_data['half_score'] }}
{% for result in event.event_data['count_results'] -%}
{{ meta.candidates[result[0]] }}: {{ result[1] }}
{% endfor %}
{% else %}
DEBUG: Unimplemented event {{ event.event_type }}
{% endif -%}
{% endfor -%}
{% endfor -%}

Oppsummering
============

Loddtrekning: {% if meta.drawing %}Ja{% else %}Nei{% endif %}

Kandidater som ble valgt:
{% for candidate_id in meta.regular_candidate_ids -%}
{{ person_name(candidate_id) }}
{% if loop.last %}
{% endif -%}
{% else -%}
Ingen

{% endfor -%}
(Avslutter protokol)

