alembic
aniso8601
blinker
celery
click
Flask==1.0.2
flask-allows
flask-cors
flask-feide-gatekeeper==0.0.7
flask-graphql
flask-migrate
flask-shell-ipython
flask-sqlalchemy
graphene==2.1.3
graphene-file-upload==1.2.1
graphene-sqlalchemy==2.1.0
graphql-core==2.1
graphql-relay==0.4.5
graphql-server-core==1.1.1
gunicorn==19.9.0
psycopg2-binary
pynacl
python-json-logger
pytz
sentry_sdk
setuptools
sqlalchemy==1.2.15
sqlalchemy-continuum
sqlalchemy-json
sqlalchemy-utils
werkzeug

# Our own dependencies
sap-client==0.3.1
