#!/usr/bin/env python
# -*- coding: utf-8 -*-
""" Default configuration for eValg. """

DEBUG = False

SQLALCHEMY_DATABASE_URI = 'postgresql://postgres:secret@localhost/postgres'

TRUSTED_PROXIES = (
    # Loopback
    '127.0.0.0/8',
    '::1',
    # Feide Gatekeeper
    '158.36.86.32/27',
    '2001:700:0:4030::/61',
)

# setting this to False disables all authentication middleware
AUTH_ENABLED = True
# can be 'feide' or 'feide_mock'
AUTH_METHOD = 'feide_mock'

FEIDE_BASIC_REQUIRE = True
FEIDE_BASIC_REALM = None
FEIDE_BASIC_USERS = [
    ('dataporten', 'secret'),
]

# when mocking, pretend the gatekeeper authenticated this user
FEIDE_MOCK_LOGIN_AS = 'abababab-abab-abab-abab-abababababab'
FEIDE_MOCK_DATA = {
    'client_id': 'fafafafa-fafa-fafa-fafa-fafafafafafa',
    'users': {
        'abababab-abab-abab-abab-abababababab': {
            'id': 'abababab-abab-abab-abab-abababababab',
            'sec': {
                'feide': ('testesen@example.com', ),
                'nin': ('01011012343', ),
                # 'uuid': ('some-uuid', ),  # historical merged primary keys
            },
            'dp_user_info': {
                'user': {
                    'name': 'Test Testesen',
                    'email': 'testesen@example.com',
                },
                'audience': 'mock',
            },
            'feide_user_info': {
                'eduPersonEntitlement': ('urn:mace:uio.no:evalg:valgadministrator', )
            }
        },
    },
}

# SAPWS config. Used to import units
SAPWD_BASE_URL = 'https://api-gateway.uio.no/sws/v2/'
SAPWS_API_KEY = ''
SAPWS_ROOT_OU = '900000'

LOGGER_NAME = 'evalg'

LOGGING = {
    'disable_existing_loggers': False,
    'version': 1,
    'loggers': {
        '': {
            'handlers': ['stream_stderr_simple'],
            'level': 'DEBUG',
        },
    },
    'formatters': {
        'simple': {
            'class': 'evalg.logging.SafeFormatter',
            'datefmt': '%Y-%m-%d %H:%M:%S',
            'format': (
                '%(asctime)s - %(request_id).8s - %(levelname)s - %(name)s -'
                ' %(message)s'
            ),
        },
        'json': {
            'class': 'evalg.logging.SafeJsonFormatter',
            'datefmt': '%Y-%m-%dT%H:%M:%S%z',
            'format': (
                '%(asctime)s %(name)s %(levelname)s %(levelno)s %(message)s '
                '%(process)s %(processName)s %(thread)s %(threadName)s '
                '%(pathname)s %(filename)s %(lineno)s %(module)s %(funcName)s '
                '%(exc_info)s %(exc_text)s %(stack_info)s %(msecs)s '
                '%(request_id)s'
            ),
        },
    },
    'handlers': {
        'null': {
            'class': 'logging.NullHandler',
            'formatter': 'simple',
        },
        'stream_stderr_simple': {
            'formatter': 'simple',
            'class': 'logging.StreamHandler',
            'stream': 'ext://sys.stderr',
            'filters': ['request_id'],
        },
        'file_json': {
            'formatter': 'json',
            'class': 'logging.FileHandler',
            'filename': 'logs/evalg.log.json',
            'filters': ['request_id'],
        },
    },
    'filters': {
        'request_id': {
            '()': 'evalg.request_id.RequestIdFilter',
        },
    },
}
