Vi bekrefter å ha mottatt din ({{ voter_id }}) stemme i valget
«{{electiongroup_name['nb']}}».

We confirm that we have received your ({{ voter_id }}) vote in
the election "{{electiongroup_name['en']}}".


Med vennlig hilsen
{{regards_from}}